@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 100vh;
}
.product-right, .product-left{
    width: 50%;
    padding: 3rem 2rem;
}
.product-left img{
    width: 100%;
    display: block;
}
.product-right img{
    width: 40%;
}
.product-right{
    text-align: center;
    color: #fff;
}
.product-right h2{
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 1.2;
    max-width: 500px;
    margin: 2rem auto 1rem auto;
}
.text{
    font-weight: 500;
    font-size: 1.2rem;
    display: block;
    color: red;
}
.btns-group{
    margin-top: 3rem;
}
.btn-solid{
    background-color: #0071e3;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1.2rem;
    border-radius: 1.4rem;
    margin-right: 1.6rem;
    font-size: 1.1rem;
}
.btn-link{
    color: #0071e3;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.1rem;
}
.btn-link:hover{
    text-decoration: underline;
}
.btn-link .fa{
    font-size: 0.7rem;
}
#product-sec-1{
    background-color: #000;
}
.header {
    overflow: hidden;
    background-color: #000000;
    padding: 20px 10px;
  }
  .nadpis{
      color: white;
      text-align: center;
      margin-right: 675px;
  } 
  .header a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .header a.logo {
    font-size: 50px;
    font-weight: bold;
  }
  
  
  .header a:hover {
    background-color: #ddd;
    color: rgb(95, 95, 95);
  
  }
  
  
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  
  .header-right {
    float: right;
}
@media screen and (max-width: 992px){
    .product-left img{
        margin: 0 auto;
    }
    #product-sec-1 .container, #product-sec-2 .container{
        flex-direction: column;
    }
}

@media screen and (max-width: 576px){
    .product-right h2{
        font-size: 1.2rem;
    }
    .product-right img{
        width: 200px;
        margin-bottom: 5rem;
    }
    .text{
        font-size: 1rem;
    }
    .product-right, .product-left{
        padding-left: 0;
        padding-right: 0;
    }
    .btn-solid{
        margin-right: 0;
        margin-bottom: 1rem;
        display: block;
    }
    .dotted-btns{
        right: 1rem;
    }
    .dot{
        font-size: 0.7rem;
    }
    .header {
        padding-left: 0;
        padding-right: 5rem;
    }
}